*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    margin: 45px;
}
#lista-categoria{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
#lista-categoria, h1{
    text-align: center;
}

#lista-categoria li{
    display: inline-block;
    padding: 15px;
    border: 1px solid burlywood;
}
.list-item a{
    text-decoration: none;
    color: red;
}
.lista-hilos{
    text-align: center;
}
.lista-hilos a{
    text-decoration: none;
}