@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
:root{
  --borderColor: #cec9c9;
  --borderColorInput: #575757;
  --descripcionColor: #656d76;
  --submitButtonColor: #1F883D;
  --borderRadiusCard: 6px;
  --enlaceColor: #0969DA;
}
*{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/*#detail{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  !*height: 95vh;*!*/
/*}*/

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a{
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  margin-bottom: 30px;
  padding: 6px 15px;
  box-shadow: 1px 1px 6px #b4afaf;
  background-color: #efeded;
}
header .nav-usuario span{
  padding: 0 5px;
}
header .nav-usuario, header .inicio-link{
  display: flex;
  align-items: center;
}
header span img{
  width: 35px;
  height: auto;
  border: 1px solid var(--borderColor);
  border-radius: 50%;
}
header .flex-container{
  display: flex;
  justify-content: space-between;
}
.card{
  margin: 0 auto;
  width: 30%;
  max-height: 100%;
}
.card h1{
  text-align: left;
  padding: 0 10px;
}
.card .lista{
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  padding: 8px 15px 15px;
}

.card .item{
  padding: 12px 0;
}

.card .item h2{
  padding: 0 0 3px 0;
}
.card .item a{
  color: var(--enlaceColor)
}

.card .descripcion, h2{
  text-align: left;
}
ul{
  list-style: none;
}
@media (max-width: 1150px){
  .card{
    width: 45%;
  }
}
@media (max-width: 600px){
  .card{
    width: 75%;
  }
}
@media (max-width: 450px){
  .card{
    width: 90%;
  }
}
.card h1{
  padding: 0 15px;
  margin-bottom: 20px;
}
.categoria.card{
  width: 45%;
}
.categoria .lista .titulo{
  font-weight: 500;
  font-size: 20px;
}
.categoria .lista .error{
  padding: 15px;
  text-align: center;
}
.categoria .titulo-button{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}

.categoria .titulo-button button{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--borderColorInput);
  border-radius: 4px;
}
.categoria .titulo-button button:hover{
  cursor: pointer;
}

.categoria .lista .titulo a{
  color: black;
}
.categoria .item{
  border-bottom: 1px solid var(--borderColor);
}
.categoria .item:last-child{
  border-bottom: none;
}
.categoria .usuario-fecha, .usuario .usuario-fecha{
  display: flex;
  justify-content: space-between;
  color: var(--descripcionColor);
}

.categoria .usuario-fecha p{
  display: inline-block;
}
.categoria .usuario-fecha a{
  color: var(--descripcionColor);
  font-weight: 500;
  font-size: 14px;
  color: var(--enlaceColor);
}
.categoria .usuario-fecha span{
  font-size: 12px;
}
.categoria .nuevo-post{
  border: 1px solid var(--borderColor);
}
.descripcion{
  color: var(--descripcionColor);
}
.nuevo-post{
  padding: 6px 0 0;
  border-radius: var(--borderRadiusCard);
}

.nuevo-post form{
  border-top: 1px solid var(--borderColor);
  padding: 10px;
}
.nuevo-post .button-div{
  display: flex;
  justify-content: flex-end;
}
.nuevo-post button, .registro button, .login button:disabled{
  border: none;
  border-radius: 6px;
  background-color: var(--submitButtonColor);
  color: white;
  font-weight: bold;
  padding: 8px 20px;
}
.nuevo-post button:disabled, .registro button:disabled, .login button:disabled{
  background-color: #94D3A2;
  cursor: not-allowed;
}
.nuevo-post span{
  display: inline-block;
  position: relative;
  bottom: -5px;
  padding: 8px 10px 15px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  border-bottom: none;
  background-color: white;
  margin-left: 10px;
}

.nuevo-post input[type="text"], .nuevo-post textarea{
  border: none;
}
.nuevo-post textarea, .nuevo-post input[type="text"]{
  width: 100%;
  height: 100%;
  resize: vertical;
}
.nuevo-post textarea:focus-visible, .nuevo-post input:focus-visible{
  outline: none;
}
.input-div{
  border: 1px solid var(--borderColorInput);
  border-radius: var(--borderRadiusCard);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.nuevo-post button:hover{
  cursor: pointer;
}
.separador{
  content: '';
  background-color: var(--borderColor);
  height: 2px;
  width: 98%;
  margin: 25px auto;

}
.usuario{
  margin: 0 14%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}
.usuario a{
  color: black;
}
.usuario .datos-usuario{
  margin: 0 auto;
}
.usuario .mensaje{
  margin: 8px 0;
  padding: 10px 16px 0;
}
.usuario .mensaje .usuario-fecha{
  margin: 0 0 0 8px;
}
.usuario .mensaje .contenido{
  margin: 20px 0;
}
.usuario .titulo h4{
  font-size: 20px;
  font-weight: normal;
}
.usuario .avatar{
  border: 2px solid var(--borderColor);
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 260px;
  max-height: 260px;
  margin-bottom: 25px;
}
.usuario .avatar img{
  max-width: inherit;
  max-height: inherit;
}
.usuario .datos-usuario .nombre-usuario span{
  font-size: 18px;
  color: var(--borderColorInput);
}

.usuario .usuario-mensajes{
  padding: 8px;
}
.usuario .mensaje img{
  width: 20px;
  height: auto;
}
.usuario .mensaje div:first-of-type{
  display: flex;
  justify-content: space-between;
}
.usuario .mensaje .menu-button{
  border: none;
  background-color: transparent;
}
.usuario .mensaje .nombre-usuario{
  font-weight: bold;
}
.usuario .usuario-hilos{
  margin-bottom: 25px;
}
.usuario .usuario-hilos ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.usuario .usuario-hilos li{
  display: block;
  width: 46%;
  display: flex;
}
.card-border{
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadiusCard);
}
.usuario .usuario-hilos h4{
  padding-left: 8px;
}
.usuario .usuario-hilo-item{
  padding: 8px;
}
.usuario .usuario-hilo-item .card-border{
  padding: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.usuario .item-parte-superior{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.usuario .item-parte-superior a{
  color: var(--enlaceColor);
}
.usuario .hilo-categoria a{
  display: flex;
  font-size: 16px;
  align-items: center;
  border: 1px solid var(--borderColor);
  border-radius: 25px;
  padding: 0 10px;
  color: var(--descripcionColor);
  margin-left: 20px;
}
.registro .form-container, .login .form-container{
  display: flex;
}
.registro form, .login form{
  display: inline-block;
  margin: 0 auto;
  padding: 25px;
}
.registro form label, .login form label{
  display: block;
}
.registro button, .login button{
  width: 100%;
  margin: 15px 0;
}
.registro .input-div, .login .input-div{
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 8px;
  margin-top: 6px;
}
.registro .titulo, .login .titulo{
  font-weight: normal;
  text-align: center;
  padding: 0 0 35px;
}
.login .login-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-no-pagina{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  margin-top: 50px;
}

