@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
:root{
  --borderColor: #cec9c9;
  --borderColorInput: #989797;
  --descripcionColor: #656d76;
  --submitButtonColor: #1F883D;
  --borderRadiusCard: 6px;
}
*{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/*#detail{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  !*height: 95vh;*!*/
/*}*/

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  overflow-y: scroll;
}
header{
  margin-bottom: 40px;
}
header .flex-container{
  display: flex;
  justify-content: space-between;
}
.card{
  margin: 0 auto;
  width: 30%;
  max-height: 100%;
}
.card h1{
  text-align: left;
  padding: 0 10px;
}
.card .lista{
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  padding: 8px 15px 15px;
}
.card .lista a{
  text-decoration: none;
}

.card .item{
  padding: 12px 0;
}

.card .item h2{
  padding: 0 0 3px 0;
}

.card .descripcion, h2{
  text-align: left;
}
ul{
  list-style: none;
}
@media (max-width: 1150px){
  .card{
    width: 45%;
  }
}
@media (max-width: 600px){
  .card{
    width: 75%;
  }
}
@media (max-width: 450px){
  .card{
    width: 90%;
  }
}
.card h1{
  padding: 0 15px;
}
.categoria .lista .titulo{
  font-weight: 500;
  font-size: 20px;
}
.categoria .lista .error{
  padding: 15px;
  text-align: center;
}
.categoria .titulo-button{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.categoria .titulo-button button{
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--borderColorInput);
  border-radius: 4px;
}
.categoria .titulo-button button:hover{
  cursor: pointer;
}

.categoria .lista .titulo a{
  color: black;
}
.categoria .item{
  border-bottom: 1px solid var(--borderColor);
}
.categoria .item:last-child{
  border-bottom: none;
}
.categoria .usuario-fecha{
  display: flex;
  justify-content: space-between;
  color: var(--descripcionColor);
}
.categoria .usuario-fecha p{
  display: inline-block;
}
.categoria .usuario-fecha a{
  color: var(--descripcionColor);
  font-weight: 500;
  font-size: 14px;
}
.categoria .usuario-fecha span{
  font-size: 12px;
}
.categoria .nuevo-post{
  border: 1px solid var(--borderColor);
}
.descripcion{
  color: var(--descripcionColor);
}
.nuevo-post{
  padding: 6px 0 0;
  border-radius: var(--borderRadiusCard);
}

.nuevo-post form{
  border-top: 1px solid var(--borderColor);
  padding: 10px;
}
.nuevo-post .button-div{
  display: flex;
  justify-content: flex-end;
}
.nuevo-post button{
  border: none;
  border-radius: 6px;
  background-color: var(--submitButtonColor);
  color: white;
  font-weight: bold;
  padding: 8px 20px;
}
.nuevo-post button:disabled{
  background-color: #94D3A2;
  cursor: not-allowed;
}
.nuevo-post span{
  display: inline-block;
  position: relative;
  bottom: -5px;
  padding: 8px 10px 15px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  border-bottom: none;
  background-color: white;
  margin-left: 10px;
}

.nuevo-post input[type="text"], .nuevo-post textarea{
  border: none;
}
.nuevo-post textarea, .nuevo-post input[type="text"]{
  width: 100%;
  height: 100%;
  resize: vertical;
}
.nuevo-post textarea:focus-visible, .nuevo-post input:focus-visible{
  outline: none;
}
.nuevo-post .input-div{
  border: 1px solid var(--borderColorInput);
  border-radius: var(--borderRadiusCard);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.nuevo-post button:hover{
  cursor: pointer;
}
.separador{
  content: '';
  background-color: var(--borderColor);
  height: 2px;
  width: 98%;
  margin: 25px auto;

}
footer{
  margin-top: 50px;
}
